
.process {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.process,
.process-front,
.process-back {
  width: 125px;
  height: 60px;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.process-front,
.process-back {
  padding-top: 17px;
  border: 1px solid #ddd;
}

.process-back {
  background: #eee;
}

.process span {
  display: block;
  width: 100%;
}

.process .pid:before {
  content: 'pid: ';
  color: black;
}

.process .pid,
.process .version {
  font-size: 9px;
  color: #888;
}

.process .pid {
  font-size: 10px;
}

.process .hide {
  display: none;
}
